---
import Logo from "@/components/Brand/Logo.astro"
import { buttonVariants } from "@/components/UI/Button"
import { cn } from "@/lib/utils/style"

const user = Astro.locals.user
---

<header
  class="sticky top-0 z-50 flex h-[4.5rem] w-full items-center justify-center border-b border-border bg-white"
>
  <div class="container flex w-full justify-between">
    <div class="relative flex items-center">
      <a class="relative top-[3px] md:top-[2.5px]" href="/">
        <Logo />
      </a>
    </div><div class="flex items-center">
      <div class="relative flex items-center justify-center">
        <div class="relative">
          <input
            class="h-[40px] w-full rounded-full border border-border bg-white px-4 py-2 text-xs transition-all focus:border-[color:var(--primary)] focus:outline-none md:text-sm lg:w-[400px] lg:text-base"
            placeholder="Cari Game..."
            type="text"
            value=""
          /><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 16 16"
            class="absolute right-0 top-0 z-10 mr-3 h-full text-primary md:text-lg"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            ></path></svg
          >
        </div>
      </div>
      {
        user ? (
          <a
            class="relative ml-4 h-[40px] w-[40px] text-muted-foreground transition-all group-hover:text-primary"
            href="/user/profile"
          >
            <img
              alt="user profile"
              src={user?.image}
              class="overflow-hidden rounded-full border-solid"
            />
          </a>
        ) : (
          <a
            class={cn(
              buttonVariants({ variant: "outline" }),
              "mx-4 rounded-full",
            )}
            href="/auth/login"
          >
            Login
          </a>
        )
      }
    </div>
  </div>
</header>
